
h1 {
    margin-left: 40px;
    color: blue;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #f9f9f9;
    margin: 50px;
    color: #444;
    background-color: #c6c6c6;
}

h4 { margin: 10px 0 }

#left { float: left }

#right { float: right }

.greyBox {
    background-color: #f5f5f5;
    border: 3px solid #ccc;
}

#header {
    margin: 0 auto;
    width: 100%;
}

.bannerContainer{
   background: #062f4f;
   height: 7.5em;
   position: relative;
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   z-index: 500; 
   margin: 3em 0;
}

.bannerText{
    font-family: Tahoma, Geneva, sans-serif;
    color: #ffffff; 
    position: absolute;
    bottom: 10px;
    left: 3em;
    font-size: 42pt;
}

.bannerLogo{
    background: url("../common/logo.png");
}

.headerTitle{
    font-family: Helvetica, sans-serif;
    color: #813772;
    font-size: 24pt;
}

.main{
    font-family: Helvetica, sans-serif;
    color: #000000;
    font-size: 16pt;
    background-color: orangered;
}